#_pageheaderbody {box-shadow: none;}
body {font-family: 'Open Sans', sans-serif!important;background: #F3F3F3;line-height: normal;font-size: 14px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}
.mainSection {.width: 100%;max-width: 960px;padding-left: 0px;padding-right: 0px;margin-top: 0px;margin-left: auto;margin-right: auto;}
.column.large-centered,.column.medium-centered,.column.small-centered{margin: 0}
.calPremium {margin-left: -5px;margin-right: -5px;padding: 30px 0 70px;}
.large-10 {width: 75%;padding-left: 5px;padding-right: 5px;}
.btn {width: 245px}

/* Calculate premium css starts */
.calculate_premium-main-container .container{margin: 0 auto;padding:0px;}
.calSliderBlock {border: none; background: none}
.titleBlock {background: none}
.calSliderBlock  h2 {color: #132F7E;font-weight: 300;margin-top: 0;text-align: left; margin-bottom: 10px;height: 0; line-height: 1.1;display: inline-table; font-size: 36px;}
.calcStep1 .sliderWrapper, .calcStep2 .sliderWrapper {background: #fff;margin: 0}
.calcStep2 .divForm{max-width: none; width: 100%}
.dv2Col li {width: 100%}
.dvTble .dvTcell.dvLabel, .detailsEditBar ul li.dvPolicyTerm .dvTble .dvTcell.dvLabel label {background: none; color: #444; text-align: left}
.selCircle input.btnYes + label::before {/* background-image: none; */content: "Yes";/* text-align: center; *//* line-height: 46px; */font-size: 14px;/* color: #0f65bb; *//* font-weight: 700; */}
.selCircle label {background-color: transparent; box-shadow: none; -webkit-box-shadow: none; text-align: left}
.selCircle input[type=radio] + label::before {background-image: none}
.selCircle input[type=radio], .customCheckbox input[type=checkbox] {position: initial; left: 0}
.selCircle input[type=radio] + label::before {width: 0; height: 0; position: initial; vertical-align: inherit;color: #444;font-weight: normal; font-size: 14px}
.selCircle input[type=radio]:checked + label,
.selCircle.error input[type=radio] + label {background: none}
.selCircle input.btnYes:checked + label::before, .selCircle.error input.btnYes + label::before,
.selCircle input.btnNo:checked + label::before, .selCircle.error input.btnNo + label::before {color: #444}
.calcStep2 .foreignAddr .customInput > label, .dvHelpDetails .foreignAddr .customInput > label, label {font-family: 'Open Sans', sans-serif;line-height: normal;font-size: 14px;font-weight: normal;}
.calcStep2 .divForm .dvRow1 .dvTble .dvLabel {text-align: left;padding-left: 20px;}
.selCircle input[type=radio] + label[for="malegender"]::before {content: "Male"}
.selCircle input[type=radio] + label[for="femalegender"]::before {content: "Female"}
.selCircle input[type=radio] + label[for="smoke"]::before,
.selCircle input[type=radio] + label[for="nrismoke"]::before{content: "Yes"}
.selCircle input[type=radio] + label[for="nonsmoke"]::before,
.selCircle input[type=radio] + label[for="nrinonsmoke"]::before {content: "No"}
.selCircle label, .selCircle input[type=radio] + label::before {height: initial}
.formPanel .customInput input[type=text], .formPanel .customInput input[type=password], .formPanel .customInput select{ display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; font-weight: normal; }
.datePick_LA {background: url(../images/Date_picker.png) no-repeat 98% !important;}
.calcStep2 .divForm .dvRow1 {min-height: 0; float: left;}
.dv2Col.formPanel li.dvGender {margin: 20px 0;}
.dvTble .dvTcell {height: initial;vertical-align: top;}
.formPanel li.dvCigaret {margin-top: 7px;}
.customCheckbox.disclaimer{padding: 20px 20px 10px;}
.dv2Col li.dvPolicy {display: none;}
.customCheckbox label {padding: 0; display: inline-block; height: initial; vertical-align: text-bottom;font-size: 12px;}
.sliderWrapper .formButtons {padding-bottom: 20px;}
.rightSlider {display: none;}
.calcStep2 .divForm .dvRow2 .bgWhite, .calcStep2 .divForm .dvRow3 .bgWhite {margin-bottom: 0}
/* Calculate premium css ends */

/*choose plans css starts*/
.main-container-choosePlans .container{margin: 0 auto;padding:0px;}
#choosePlansView .mnSumAssuredSmall .ui-slider-horizontal{height:10px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset}
#choosePlansView .mnSumAssuredSmall .ui-slider span.ui-slider-handle {width: 18px;height: 18px;margin-top: -1px;background: #fff;}
#choosePlansView .ui-slider-range{background: #234168;}
#choosePlansView .mnSumAssuredSmall .ui-slider span.sumVal{background: #234168;}
#choosePlansView .mnSumAssuredSmall .ui-slider span.sumVal:after{border-top: 6px solid #234168}
#choosePlansView .calPremium .customCheckbox input[type=checkbox]{position: absolute;left:16px; top: 2px;}
#choosePlansView .mnSumAssuredSmall h1{font-size: 13px;}
#choosePlansView .detailsEditBar .dvCol1{width: 250px;}
@media screen and (min-width: 1200px){ #choosePlansView .mnSumAssuredSmall { width: 220px; }}
#choosePlansView .mnSumAssuredSmall .cntRhtSum .dvTextGt{padding-right: 0px;}
#choosePlansView .mnSumAssuredSmall .cntRhtSum .customCheckbox label{font-size: 11px;}
#choosePlansView .customCheckbox.small label{padding-left: 20px;}
#choosePlansView .mnSumAssuredSmall .cntRhtSum .dvAmount{display: block;}
#choosePlansView .mnSumAssuredSmall .cntRhtSum .bxSumAssure{width: 100%;}
#choosePlansView .dvPriceBox{border: none;}
#choosePlansView .dvPriceBox .inputBx input{color:#555;padding:6px 12px;width: 100%;max-width: 100%;border:1px solid #ccc;font-weight: normal;height: 34px;line-height: 1.42857143}
#choosePlansView .rupee-span { background: url(../images/rupee-symbol.png) #fff no-repeat 5px 10px !important; padding-left: 20px !important; }
#choosePlansView .mnSumAssuredSmall .cntRhtSum .corpusSumAssured{font-size: 11px;}
#choosePlansView .detailsEditBar .dvCol2{width: 280px;}
#choosePlansView .detailsEditBar .dvCol3{width: 270px;}
#choosePlansView .customCheckbox input[type=checkbox] + label::before{background: none;}
#choosePlansView .detailsEditBar .dvCol1 > div, .detailsEditBar .dvCol2 > div, #choosePlansView .detailsEditBar .dvCol3 > div, #choosePlansView .detailsEditBar .dvCol4 > div{padding: 15px 8px;}
#choosePlansView .detailsEditBar .dvPolicyTerm h2{font-size: 13px;}
#choosePlansView .detailsEditBar .dvPolicyTerm .customInput{width: 69px;}
#choosePlansView .detailsEditBar .customInput.small .chosen-container-single .chosen-single span{font-size: 13px;}
#choosePlansView .chosen-container .chosen-results li.active-result{font-size: 13px!important;}
#choosePlansView .detailsEditBar .dvPolicyTerm .txtAge, #choosePlansView .detailsEditBar .dvPolicyTerm .customCheckbox label{font-size: 11px;}
#choosePlansView .detailsEditBar .dvCol4{width: 174px;display: none;}
#choosePlansView .detailsEditBar .dvCol4 .btn, #choosePlansView .dvPayoutOptions .btn{width: 158px;font-size: 11px;padding: 6px 17px;margin-top: 47px;}
#choosePlansView .detailsEditBar .customCheckbox.small label{font-size: 13px;width: 85%; margin-left: 4px;display: inline-block;padding: 0; vertical-align: top;}
#choosePlansView .detailsEditBar .customCheckbox.small input[type="checkbox"]{margin-top:3px;}
#choosePlansView .dvPayoutOptions{padding:16px 141px;}
#choosePlansView .compareTable .compareRight table th{font-size: 13px;}
#choosePlansView .compareTable .compareLeft{width: 148px;}
#choosePlansView .dvColorCharts label{font-size: 11px;min-width: 53px;}
#choosePlansView .dvColorCharts span cite:before{width: 103px;}
#choosePlansView .compareTable .compareLeft tbody td:first-child{font-size: 12px;}
#choosePlansView .compareRight .priceDiv .cpCriticalCover:before, #choosePlansView .priceDiv .priceUpDown:before{line-height: 45px;font-size: 22px;}
#choosePlansView .compareRight .priceDiv{padding-left: 14px;}
#choosePlansView .addPercentage .lpmiTextBox, #choosePlansView .priceDiv .cpCriticalCover .ciTextBox, #choosePlansView .priceDiv .cpCriticalCover .mdTxtBox, #choosePlansView .priceDiv .cpCriticalCover .miTextBox, #choosePlansView .priceDiv .priceUpDown .ciTextBox, #choosePlansView .priceDiv .priceUpDown .miTextBox{width: 70px;}
#choosePlansView .ds2 .rsWords, #choosePlansView .priceDiv .rsWords{font-size: 12px;}
#choosePlansView .dvSelYrs .maxYrs{font-size: 11px;}
#choosePlansView .compareRight .priceDiv .dvSelYrs{text-align: left;}
/*#choosePlansView .icon-moreDetails{position: absolute;top:6px;right: -10px;}*/
.dvSelYrs .annual-assured {position: absolute;}
.priceDiv .exceptPolicyTerm {position: absolute;top:45px;}
#choosePlansView .dvSelYrs label{font-size: 14px;}
#choosePlansView .addPercentage .miTextBox, #choosePlansView .detailsEditBar .addPercentage .saTextBox, #choosePlansView .detailsEditBarMobile .addPercentage .saTextBox, #choosePlansView .compareRight .addPercentage .saTextBox, #choosePlansView .compareRight .addPercentage .lpmiTextBox, #choosePlansView .optAddCover .addPercentage .lpmiTextBox{width: 40px;}
.compareRight .icon-moreDetails.type2{margin-right: 0px;top:20px;}
.compareRight .addPercentage{float: left;}
.compareRight table tr td p.incReplPara{font-size: 12px;}
.compareTable tbody td{font-size: 12px;}
#choosePlansView .dynDeathBenefit{padding-left: 0px;}
#choosePlansView .dynDeathBenefit p{font-size: 12px;}
#choosePlansView .compareRight table tr td .addLumpPayoutPerc{margin-left:-5px;}
#choosePlansView .compareRight table tr td .addLumpPayoutPerc, .compareRight table tr td .planInfoTip{top:25%}
#choosePlansView .compareRight table tr td .planInfoTip {margin-left: 15px;}
#choosePlansView .compareTable tbody td .customCheckbox.small label{font-size:12px;font-weight: 600;}
#choosePlansView .compareTable tr.bgBlue td .btnsBrochure {padding: 0;}
#choosePlansView .btnsBrochure:before {text-align:left; padding-left: 5px;  width:60px; font-size:11px;position: initial;}
#choosePlansView .priceDiv .cpCriticalCover, #choosePlansView .priceDiv .priceUpDown, .priceDiv .cpMonthlyIncomeDeath, #choosePlansView .priceDiv .ciCriticalCover, #choosePlansView .priceDiv .cpMIRider{padding: 5px;}
#choosePlansView .dvTble .CIllnessCvr .mdTxtBox, #choosePlansView ul li .saCriticalCover .ciTextBox, #choosePlansView .addPercentage .cpsumAssuredTextBox, #choosePlansView .addPercentage .miTextBox, #choosePlansView .addPercentage .saTextBox, #choosePlansView .addPercentage .lpmiTextBox, #choosePlansView .addPercentage .yrsTextBox, #choosePlansView .cpCriticalCover .ciTextBox, #choosePlansView .cpMonthlyIncomeDeath .mdTxtBox, #choosePlansView .cpCriticalCover .cpsumAssuredTextBox, #choosePlansView .cpCriticalCover .miTextBox, #choosePlansView .cpCriticalCover .saTextBox, #choosePlansView .cpCriticalCover .yrsTextBox, #choosePlansView .cpMIRider .ciTextBox, #choosePlansView .cpMIRider .cpsumAssuredTextBox, #choosePlansView .cpMIRider .miTextBox, #choosePlansView .cpMIRider .saTextBox, #choosePlansView .cpMIRider .yrsTextBox, #choosePlansView .fpExtLifeRider .fpTextBox, #choosePlansView .cpMIRider .yrsTextBox, .biCriticalCover .biTextBox, .dvTble .lblPolTerm .cpMIRider .saDisability, .ciCriticalCover .cicTextBox{width: 67px;}
.compareTable tr.bgBlue td{background: none;}
.compareTable .compareLeft td .customCheckbox{margin-right: 0px;}
.compareTable .compareLeft td .disability .customInput{width: 86%;}
.compareLeft table tbody tr.bgPink td .choosePlan label{font-size: 12px;}
.compareTable .compareLeft tbody .bgPink td:first-child .divPolicy{margin: 7px -10px -27px -18px}
.compareTable .compareLeft tbody .bgPink td:first-child .divPolicy .txtPolicy,.detailsEditBar .dv4Cols .dvCol2 .customCheckbox.small label{font-size: 13px;}
.compareTable .compareRight table tbody tr.bgPink td .btn-default{position: absolute;bottom: 17px;left: 0;right: 0;margin-right: auto;margin-left: auto;width: 160px;font-size: 12px;}
.compareTable .compareRight tbody .bgPink td span.prices{font-size: 20px;}
.compareTable .compareRight tbody .bgPink td span.taxes{font-size: 12px;}
.compareTable .compareLeft tbody .bgPink td:first-child .selStyled{margin-bottom: 0px;}
.compareTable .compareLeft tbody .bgPink td:first-child .divPolicy{margin: 7px -10px -12px -18px;}
#choosePlansView .benefitsIcons.icn1{padding-left: 11px;}
#choosePlansView .curPlanType .benefitsIcons.icn1 {padding-left: 52px;}
#choosePlansView .editPlan.btndefault {background: #fff;margin: 0 10px;width: auto; color: #1d86ff; font-size: 13px; padding: 0 29px;}
#choosePlansView .selectedBand table tr td:nth-child(1) span{font-size: 17px;}
#choosePlansView .selectedBand table tr td .dvColorCharts{margin: 20px 0px 0px;}
#choosePlansView .selectedBand table tr td h3{font-size: 17px;}
#choosePlansView .selectedBand table tr td ul li{font-size: 13px;}
#choosePlansView .selectedBand table tr td .price{font-size: 25px;}
#choosePlansView .blockRow table tbody tr td.last .btn-danger{width: 100%;background: url("../images/btnEdit_big.png") 102px center no-repeat #d9534f;font-size: 13px;padding: 6px 12px 6px 2px;}
#choosePlansView .selectedBand table tr td a.btn-danger{color:#ffffff}
#choosePlansView .planBlocks .chkGetCover label{font-size: 15px;}
#choosePlansView .planBlocks .chkGetCover label .txtRed{font-size: 15px;}
#choosePlansView .chkGetCoverLnk a{margin-left: 27px;}
#choosePlansView .formButtons .btnArrowDown{border: 1px solid transparent;background: #1d86ff;padding: 6px 20px;display: inline-block;font-size: 16px;line-height: 1.42857143;text-align: center;min-width:147px;width: auto;}
#choosePlansView .planBlocks .enhanceAccord{padding: 9px 23px;}
#choosePlansView .planBlocks .chkGetCover{margin-left: -12px;}
#choosePlansView .dvAddBenefit .btnAddBenefit{display: inline-block;padding: 6px 20px;font-size: 14px;line-height: 1.42857143;text-align: center;color: #1d86ff;background: #fff;border: 1px solid #1d86ff;width: auto;min-width: 143px;}
#choosePlansView .selectedBand table tr td:nth-child(1){padding: 14px 6px 14px 6px}
#choosePlansView .goldPlan{width: 182px;padding: 0 16px 0 32px;}
#choosePlansView .goldPlan .dvText{font-size: 17px;}
#choosePlansView .planBlocks h2{padding: 13px 0;}
#choosePlansView .benefitsIcons.icn4, .benefitsIcons.icn5{padding-left: 64px;}
#choosePlansView .planBlocks.active h2{margin-bottom: 0px;}
#choosePlansView .planSummary table tr th{font-size: 16px;}
#choosePlansView .planSummary table tr.trRow1 td{font-size: 14px;}
#choosePlansView .planSummary table tr td{padding: 10px 0px;}
#choosePlansView .planSummary table tr.trRow1 td,.planSummary table tr.trRow1 td .benefitsIcons,#choosePlansView .planSummary table tr td{font-size: 14px;}
#choosePlansView .cpIllustrn .lbl{padding: 15px 25px 0;}
#choosePlansView .customCheckbox.small label{font-size: 12px;}
.DeskCmpPlan .cpBtnPannel .btn-primary{background: #1d86ff;border: 1px solid transparent;padding: 6px 20px;display: inline-block;font-size: 14px;line-height: 1.42857143;text-align: center;width: auto;}
.DeskCmpPlan .cpBtnPannel .btnGrayProceed{border: 1px solid #CCC;background: #CCC;width: auto;}
#choosePlansView .enhanceAccord .customCheckbox input[type=checkbox]{top:4px;}
#choosePlansView .compareTable table {background: #fff;}
#choosePlansView .planInfoTip .planTipsOuter .planTipCont {border: 1px solid #162F57;}
#choosePlansView .planInfoTip .planTipsOuter .planTipCont::after {border-left: 21px solid transparent;border-right: 21px solid transparent;border-bottom: 21px solid #162F57;}
#choosePlansView .planInfoTip .planTipsOuter .planTipCont p {color: #162F57;}
#choosePlansView .compare.btn2White {color: #1d86ff;max-width: 158px;width: 158px;padding: 6px 17px;min-width: auto;height: initial;line-height: normal;}
#choosePlansView .btn.btn-default.compare {margin: 0;}
#choosePlansView .compare.btn2White:hover{color: #333;background-color: #e6e6e6;border-color: #adadad;}
#choosePlansView .btn2White.compare::before {background: none; display:none;}
#choosePlansView .closePopup, #choosePlansView .dvPopupModal .closePopup {background: url("../images/popup-close.png") no-repeat;!important;}
#choosePlansView .popBuildDetails .closePopup {top: -15px;right: -20px;}
#choosePlansView .popBuildDetails h3 {color: #444; background: transparent; font-size: 20px;font-weight: 400; line-height: normal; height: auto;padding: 10px 35px 10px 45px;padding-top: 30px;}
#choosePlansView .dvHelpDetails {background: none;}
#choosePlansView .dvHelpDetails .bgWhite {padding: 20px 0 10px;}
#choosePlansView .customCheckbox.disclaimer {padding: 0 0 10px;}
#choosePlansView .dvTble .dvTcell {display: inline-block}
#choosePlansView .dvTble .dvTcell.dvLabel, #choosePlansView .dvGender .dvTble .dvLabel {width: 150px;}
#choosePlansView .dvCigaret .dvTble .dvLabel {width: 100px;}
#choosePlansView .customCheckbox input[type="checkbox"] + label::before {display: none;}
.customCheckbox label{display: inline-block;vertical-align: top;}
#choosePlansView .formPanel .customInput.phCode .areaaCode {vertical-align: top;}
#choosePlansView .formButtons .redBtn span {padding: 0;}

#choosePlansView .customCheckbox.disclaimer > label {padding-left: 40px;}
#choosePlansView .formPanel .customInput.phCode input.phNo {width: 63%;position: relative;display: inline-block;}
#choosePlansView .phCode .planInfoTip img {width: auto;height: 16px;left: 7px;position: relative;}
#choosePlansView .dvDOB .dvTcell {width: 100%;}
#choosePlansView .formPanel li.dvCigaret {margin-top: 7px;}
/*#choosePlansView .formButtons .btnArrowDown span, .formButtons .redBtn span {padding: 0;}*/
#choosePlansView .formButtons .btnArrowDown, .formButtons .redBtn {background: #1d86ff;background-image: none;border: 1px solid transparent;font-size: 16px;padding: 6px 20px;box-shadow: 0px 1px 1px rgba(0,0,0,0.3);text-transform: uppercase;border-radius: 3px;height: auto;line-height: 1.42857143;background-image: none;text-align: center;}
#choosePlansView .formButtons .btnArrowDown span, .formButtons .redBtn span::after {background: none;}
#choosePlansView .formButtons .btnArrowDown, .formButtons .redBtn:hover {background-color: #286090;border-color: #204d74;}
#choosePlansView .formButtons .btnGrayProceed:hover span {color: #fff;}
#choosePlansView .rightSlider {display: none;}
#choosePlansView .commonPlanOpt h3{color: #444; background: transparent;font-size: 20px; font-weight: 400; line-height: normal; height: auto; padding: 10px 35px 10px 45px; padding-top: 30px; text-align: center;}
#choosePlansView .popPlansOpt .planOptMain li{font-size: 15px;}
#choosePlansView .dvPopupModal .titlePopup{background: transparent}
#choosePlansView .dvPopupModal .titlePopup h2{color: #444; background: transparent;font-size: 20px; font-weight: 400; line-height: normal; height: auto; padding:0; padding-top: 30px; text-align: center;display: block;}
#choosePlansView .dvPopupModal .popupContent{padding:0px 40px 40px 40px;}
/*choose plans css ends*/

/*filter plans css starts*/
#filterPlansView .popBuildDetails .customCheckbox input[type=checkbox] + label::before{display: none;}
#filterPlansView.filterMainRow{background: none;}
#filterPlansView .columnWrapper{
 padding: 0;
 position: initial;
}
#filterPlansView .popBuildDetails .dvTble{
 display: block;
}
#filterPlansView .filterMainRowin {
 width: 100%;
 background: #fff;
}
#filterPlansView .popFilterPlans{
 display: block;
}
#filterPlansView #_portalpage{
 width:100%;
}
#filterPlansView .column {
 position: relative;
}
#filterPlansView .popFilterPlans{
 left: 0;
}
#filterPlansView .rightSlider {
 top: 200px;
 right: 0;
}
#filterPlansView .mainSection {
 max-width: 960px;
 padding-left: 0px;
 padding-right: 0px;
 margin-top: 0px;
 margin-left: auto;
 margin-right: auto;
}
#filterPlansView .filterMainRow h2.pgTitle{
 margin: 0 5% 0 6%;
}
#filterPlansView a.red.shadow.desktopEdit {
 position: absolute;
 top: 104%;
 right: 10px;
}
#filterPlansView .columnWrapper.clearfix.bdrB.dvFilterPlans {
 margin-top: 50px;
}
#filterPlansView .filterMainRow .pgSubText{
 margin-left: -45px;
 padding:0;
}
#filterPlansView .filterMainRow .pageTitle a.desktopEdit {
 width: 167px;
 border: 1px solid #1d86ff;
 border-radius: 4px;
 margin: 0;
 padding: 0;
 line-height: 1;
 height: 30px;
 float: right;
}
#filterPlansView a.red.shadow.desktopEdit{
	background-color: #1d86ff;
	border-radius: 4px;
	box-shadow: none;
}
#filterPlansView .desktopEdit.red span {
	color: #fff !important;
	padding: 6px 15px;
	display: block;
	text-transform: initial;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
#filterPlansView a.red.shadow.desktopEdit:hover{
	color: #fff !important;
    background: #025296;
	border: 1px solid #025296;
	text-decoration: none;
}

#filterPlansView a.red.shadow.desktopEdit span:hover{color: #fff !important;}

#filterPlansView .filterMainRowin .desktopEdit:before{
 content:none;
}
#filterPlansView .custLarge3 {
 width: 35%;
}
#filterPlansView .custLarge9 {
 width: 65%;
}
#filterPlansView .ulAccordFilter > li{
 padding: 8px 10px 10px;
}
#filterPlansView .ulAccordFilter .dvFiltSlider .ui-slider span.ui-slider-handle {
 width: 18px;
 height: 18px;
 margin-top: -1px;
 border-radius: 50%;
 background: #fff;
 margin-left: -5px;
 border: 1px solid rgba(0, 0, 0, 0.4);
}

#filterPlansView .ui-slider {
	border: 1px solid #aaa;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
	background: #fff;
}
#filterPlansView .ulAccordFilter .dvFiltSlider .ui-slider span.ui-slider-handle.ui-state-active,
#filterPlansView .ulAccordFilter .dvFiltSlider .ui-slider span.ui-slider-handle.ui-state-focus {background: #fff !important; border: 1px solid rgba(0, 0, 0, 0.4) !important;}
#filterPlansView .customCheckbox input[type="checkbox"] + label::before {background: none;}
#filterPlansView .ui-slider span.sumVal{
 background: #234168;
 left: -20px;
}
#filterPlansView .dvCntFilter a.lnkClrFilter{
 background: #1d86ff;
 color: #fff;
}
#filterPlansView .ui-slider span.sumVal:after{
 border-top: 6px solid #234168;
}
#filterPlansView .ui-slider-range{
 background: #234168;
}
#filterPlansView ul.ulAccordFilter li .saCriticalCover{
 width:100%;
}
#filterPlansView .ulAccordFilter .chosen-container-single .chosen-single span{
 font-size: 14px;
}
#filterPlansView .radioBtns input[type="radio"] {display: inline;}
#filterPlansView .filtDtlsContent .customCheckbox.dvPayType label {display: inline-block; padding: 0; vertical-align: top;margin: 2px 0;}
#filterPlansView .customCheckbox.small label:before,
#filterPlansView .customCheckbox.small label:after {content: none;}
#filterPlansView .filterListing .filtRow .flCol1 .icnName{
 padding-left: 10%;
 padding-top: 4%;
 color: #fff;
}
#filterPlansView .filterListing .filtRow .flCol1 .icnName.icn6{
 width: 200px;
}
#filterPlansView .filterListing .filtRow .flCol1 .icnName.icn4{
 height: 220px;
}
#filterPlansView .filterListing .filtRow .flCol1 .icnName.icn9{
 height: 210px;
}
#filterPlansView .filterListing .filtRow .colBen ul li > div, .filterListing .filtRow .colCov ul li > div{
 margin: -3px 0 10px 5px;
}
#filterPlansView .ulAccordFilter > li {
 background: #e1f2f7;
}
#filterPlansView .ulAccordFilter .lblPolTerm, ul.filtAdditCover li .first .dvTble .lblPolTerm{
 background: #1d86ff;;
 color: #fff;
}
#filterPlansView .btnBlue.btnBuy, #filterPlansView .formButtons .redBtn{
	width: 90px;
	background: #1d86ff !important;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #1d86ff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	font-size: 14px;
	font-weight: 400; 
}
#filterPlansView .btnBlue.btnBuy:hover, #filterPlansView .formButtons .redBtn:hover{
 background: #025296 !important;
 border: 1px solid #025296;
}
#filterPlansView .formButtons .btnArrowDown span:after, #filterPlansView .formButtons .redBtn span:after{
 background: none;
 content: none;
}
#filterPlansView .formButtons .redBtn span{
 padding: 0;
}
#filterPlansView .dvCntFilter h2.tltFiltBy{
 font-size: 10px;
}
#filterPlansView .filterListing .filtRow .flCol2 .dvPrice{
 font-size: 17px;
}
#filterPlansView .filterListing .filtRow .flCol1{
 background-color: #1d86ff;
 background-image: none;
}
#filterPlansView .planInfoTip{
 height: auto;
 width: auto;
}
#filterPlansView .filterListing .filtRow .flCol2{
 width: 26%;
}
#filterPlansView .filterListing .filtRow .flColBenCov{
 width:100%;
}
#filterPlansView .ulAccordFilter .typeSumFilt .bxRsMon input{
 padding: 6px 15px 6px 20px;
}
#filterPlansView .ulAccordFilter .termNote{
 font-size: 12px;
 font-weight: 400;
}
/* popup css */
#filterPlansView .bgWhite{
 padding:0;
}
#filterPlansView .dvPolicy .dvTble .dvLabel, .dvTble .dvTcell.dvLabel{
 width: 142px;
 background: none;
 color: #333;
 font-weight: 300;
 font-size: 14px;
 text-align: left;
}
#filterPlansView .calcStep2 .foreignAddr .customInput > label, .dvHelpDetails .foreignAddr .customInput > label, .selCircle input.btnYes + label::before, .selCircle input.btnNo + label::before{
 font-family: 'Open Sans', sans-serif;
 line-height: normal;
 font-size: 14px;
 font-weight: normal;
 color: #444;
}
#filterPlansView .selCircle label, .selCircle input[type=radio] + label::before{
 height: initial;
}
#filterPlansView .selCircle input.btnYes + label::before {
 content: "Yes";
}
#filterPlansView .selCircle input.btnNo + label::before {
 content: "No";
}
#filterPlansView .selCircle input[type=radio] + label[for="malegender"]::before {
 content: "Male";
}
#filterPlansView .selCircle input[type=radio] + label[for="femalegender"]::before {
 content: "Female";
}
#filterPlansView .selCircle input[type=radio] + label[for="smoke"]::before, .selCircle input[type=radio] + label[for="nrismoke"]::before{
 content:"Yes";
}
.selCircle input[type=radio] + label[for="nonsmoke"]::before, .selCircle input[type=radio] + label[for="nrinonsmoke"]::before {
 content: "No";
}
#filterPlansView .ulAccordFilter .dvFiltSlider, .ulSumAssuredPlan .dvFiltSlider{
	padding: 40px 17px 0 15px;
}
#filterPlansView .planInfoTip img {
    height: 20px;
    width: auto;
}
#filterPlansView .selCircle label {
 background-color: transparent;
 box-shadow: none;
 -webkit-box-shadow: none;
 text-align: left;
}
#filterPlansView .selCircle input.btnNo:checked + label::before, #filterPlansView .selCircle.error input.btnNo + label::before, #filterPlansView .selCircle input.btnYes:checked + label::before, #filterPlansView .selCircle.error input.btnYes + label::before{
 color: #444;
}
#filterPlansView li.foreignAddrText {
 font-size: 14px;
 color: #717171;
}
#filterPlansView .ulAccordFilter .filtAdditCover > li .optAddCover .txtSum, #filterPlansView ul.filtAdditCover li .optAddCover label.AddText_per {
 font-size: 12px;
 font-weight: 300;
}
#filterPlansView .dvTble .dvTcell {height: initial; font-size: 14px;}
#filterPlansView .customCheckbox.disclaimer{padding: 0 0 10px;}
#filterPlansView .customCheckbox label {height: initial; vertical-align: text-top;font-size: 12px; padding: 0 0 0 20px;margin: 0;line-height: normal;}
.ulAccordFilter .typeSumFilt .bxRsMon .txtNt, .ulSumAssuredPlan .typeSumFilt .bxRsMon .txtNt,
#filterPlansView .filtDtlsContent .dvTcell label {font-size: 12px;}
#filterPlansView .filtDtlsContent .dvTble .dvTcell {width: 49%;}
#filterPlansView .filtDtlsContent .dvTble.dvAddCover .dvTcell {width: auto;background: none;}
#filterPlansView .filtDtlsContent .dvTble.dvCriticalCover .CIllnessCvr {width:100%; margin-left: 0;}
#filterPlansView .ulAccordFilter .chosen-container {height: 39px;}
#filterPlansView .btnsBrochure {margin: 10px 0;}
#filterPlansView .dvTble .lblPolTerm .cpMIRider .saDisability{width: 80px;}
#filterPlansView .ErrMsg {font-size: 12px; font-weight: 400;}
#filterPlansView .filterListing .filtRow .colCov,
#filterPlansView .filterListing .filtRow .colBen {padding: 4px 0;}
#filterPlansView .filterListing .filtRow .colBen ul.benefitLists li,
#filterPlansView .filterListing .filtRow .colCov ul.benefitLists li {padding: 0 0 0 17px; background-position: 6px 8px;}
#filterPlansView .sliderWrapper .formButtons {padding-bottom: 20px;}
#filterPlansView .rightSlider {display: none;}
#filterPlansView .calcStep2 .divForm .dvRow2 .bgWhite, #filterPlansView .calcStep2 .divForm .dvRow3 .bgWhite {margin-bottom: 0}
#filterPlansView .filterListing .hdrRow {
    font-size: 14px;
}
#filterPlansView .dvHelpDetails{
 background: none;
}
#filterPlansView a.red.shadow.desktopEdit {
    position: absolute;
	top: 6%;
	width: 20%;
	right: 460px;
	height: auto;
	line-height: 16px;
	border: 1px solid #1d86ff;
	padding: 6px 12px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
#filterPlansView  h2.pgTitle.wow.fadeInDown{
	margin: 0;
	padding-left: 10px;
}
#filterPlansView .filterMainRow h2.pgTitle{
 color: #132F7E;
}
#filterPlansView .dv2Col li{
 width: 100%;
 padding: 0 0 15px 6px;
}
#filterPlansView .popBuildDetails{
 /*top: -80px;*/
 left: 50%;
}
#filterPlansView .popBuildDetails h3{
 background-color: #fff;
 color: #132F7E !important;
 margin-left: 10px;
}
#filterPlansView .popup-close {
 position: absolute;
 top: -90%;
 right: -64%;
}
#filterPlansView .filterListing .filtRow .colBen ul.benefitLists li, #filterPlansView .filterListing .filtRow .colCov ul > li > div{
 font-size: 12px;
}
#filterPlansView input#filterSA, input#incFilterSA, #filterPlansView .ulAccordFilter .customCheckbox input[type=checkbox] {
 position: absolute;
}
#filterPlansView .filtDtlsContent ul.filtAdditCover li .optAddCover .cpAIRider{
 width: 85%;
}
#filterPlansView .filtDtlsContent ul.filtAdditCover li .optAddCover .dvTble .cpMIRider{
 width:100%;
}
#filterPlansView ul.filtAdditCover li .optAddCover .cpCriticalCover {
 width: 85%;
 margin-left: 27px;
}
#filterPlansView label.AddText {
 margin-left: 24px;
}
#filterPlansView ul.filtAdditCover li .optAddCover label.AddText, #filterPlansView .optAddCover .customInput label{
 font-size: 12px;
}
#filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont, #filterPlansView .filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont{
 color: #162f57;
 border: 1px solid #162f57;
}
#filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont:after, #filterPlansView .filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont::after{
 border-bottom: 8px solid #162f57;
}
#filterPlansView .optAddCover span.sumVal {
	top: -26px;
    width: 58px;
    left: -21px;
}
#filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter{
	margin-left: -129px;
}
#filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont:after, #filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont:before{
	left: 50%
}

#filterPlansView .filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont::before {
	border-bottom: 8px solid #FFF;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
#filterPlansView .filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont::before,
#filterPlansView .planInfoTip .planTipsOuter .planTipCont:after {right: 7px;}

#filterPlansView .filterListing .filtRow .flCol1 .icnName {background-size: 8%;background-position: left; display: block;text-align: left; font-size: 14px;margin-top:6px;}
#filterPlansView .filterListing .filtRow .flCol1 .icnName.icn6 {width: 100%;}

#filterPlansView .filterMainRow .columnWrapper {position: initial;}

#filterPlansView .dvCntFilter a.lnkClrFilter {margin: 15px 20px 0 0; box-shadow: 0px 1px 1px rgba(0,0,0,0.3);font-weight: 400;}
#filterPlansView .dvCntFilter a.lnkClrFilter:hover {
	background: #025296;
	text-decoration: none;
	}
#filterPlansView .hrSliderScale ul li .dvValMax,#filterPlansView .hrSliderScale ul li .dvValMin {font-size: 12px;}
.filterMainRow .pgSubText {font-weight: 400;}
/*filter plans css ends*/

/*cancer care plan css start*/
.cancer-carePlan-main-container .container{margin: 0 auto; padding: 0px;}
#cancerCareWrapper .CancerCareMainRow h2.pgTitle{
  margin: 0 5% 0 16%;
}
#cancerCareWrapper .mainSection {
    max-width: 960px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
#cancerCareWrapper .large-11 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}
 #cancerCareWrapper .preferredMsg {
    background: none;
    font-size: 25px;
    color: #05396e;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 31px;
    font-style: normal;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
  box-shadow: none;
}
#cancerCareWrapper .preferredMsg:after{
  content: none;
}
/* slider css */
#cancerCareWrapper .ui-slider span.sumVal{
  background: #234168;
}
#cancerCareWrapper .ui-slider span.sumVal:after{
  border-top: 6px solid #234168;
}
#cancerCareWrapper .ui-slider-range {
    background: #234168;
}
#cancerCareWrapper span.ui-slider-handle.ui-state-default.ui-corner-all{
  width: 18px;
    height: 18px;
    margin-top: -1px;
  border-radius: 50px;
  margin-left: -5px;
}
#cancerCareWrapper .ui-slider span.ui-slider-handle{
  background: url(../images/sliderRS.png) center center no-repeat #FFF;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .3)
}
#cancerCareWrapper .cpChangeSumSlider.ui-slider span.sumVal{
  left: -20px;
}

/* Tooltip css */
#cancerCareWrapper .planInfoTip .planTipsOuter .planTipCont{
  border: 1px solid #162F57;
}
#cancerCareWrapper .planInfoTip .planTipsOuter .planTipCont::after {
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid #162F57;
}

#cancerCareWrapper .cancerCareWrapper .planBlocks .cancerCarePlans h2{
  background: #1976d3;
  color: #fff;
}
#cancerCareWrapper .cancerCarePlans table tr th:nth-child(1){
  background: #1976d3;
  color: #fff;
}
#cancerCareWrapper .formButtons .btnCancerCarePlanBack, #cancerCareWrapper .formButtons .redBtn{
  background: #1d86ff;
    border: 1px solid transparent;
    font-size: 13px;
    padding: 6px 20px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
    border-radius: 3px;
    height: auto;
    line-height: 1.42857143;
    width: 140px;
    color: #fff;
  font-weight: normal;
}
#cancerCareWrapper .formButtons .btnCancerCarePlanBack span, #cancerCareWrapper  .formButtons .btnGrayProceed span,  #cancerCareWrapper .formButtons .redBtn span{
  color: #fff;
  padding: 0;
}
#cancerCareWrapper .formButtons .btnCancerCarePlanBack span::after, #cancerCareWrapper .formButtons .btnGrayProceed span::after,  #cancerCareWrapper .formButtons .redBtn span::after{
  background: none;
  content:none;
}
#cancerCareWrapper .formButtons .btnGrayProceed, #cancerCareWrapper .formButtons .btnGrayProceed:hover{
  border-radius: 3px;
    border: 1px solid #CCC !important;
    background: #CCC !important;
    cursor: default;
}
#cancerCareWrapper .cancerCarePlans table tr.bgPink td .btnWhite{
  border: 1px solid #1d86ff;
    color: #1d86ff;
  font-weight: normal;
  font-size: : 14px;
}
#cancerCareWrapper .benefitsIcons cite, #cancerCareWrapper .planSummary table tr.trRow1 td .benefitsIcons.icn1{
  padding-left: 0;
}
#cancerCareWrapper .cancCarePlan div.policyterms .dvTble .dvTcell.dvLabel {
    width: 130px;
    background: #1976d3;
    color: #fff;
    padding: 15px;
}
#cancerCareWrapper .cancCarePlan div.cpChangeSum .txtChagSum, #cancerCareWrapper .cancCarePlan div.policyterms .txtSetTerm{
    line-height: 22px;
    font-size: 14px;
}
#cancerCareWrapper .planSummary table tr th, #cancerCareWrapper .planSummary table tr td{
  background: #fff;
  font-size: 14px;
}
#cancerCareWrapper .planSummary table tr.bgPink td{
  background: #d53636;
  border-bottom-color: #d53636;
}
#cancerCareWrapper .planSummary table tr.trRow1 td, .planSummary table tr.trRow1 td .benefitsIcons, #cancerCareWrapper .planSummary table tr td, #cancerCareWrapper  .cancerCarePlans table tr td{
  font-size: 14px;
}
/*cancer care plan css ends*/



/* Custom CSS Changes for C2p3D -start */
.bx-viewport > ul , li.FirstList, .calPremium > .large-10{
width : 100% !important;
}

.calPremium{
	margin : 0px !important;
	padding :0px !important;
}

.titleBlock{
	height: 150px !important;
}

input[type="radio"]{
	margin: 4px 3px !important;
}

.selCircle label{bottom: 2px !important;}

.formPanel .customInput.phCode .areaaCode{width: 10% !important;}

#choosePlansView .formPanel .customInput.phCode input.phNo{width: 85% !important;}

.formPanel ul li.dvDOB{padding-left: 10px !important;}

.sliderWrapper .formButtons{padding-top : 0px !important;}

.calSliderBlock{margin:0px !important;padding :0px !important;}

#filterPlansView .custLarge3,#filterPlansView .filterListing .filtRow .flCol2 , .filterListing .filtRow .flCol2 > ul {width: 100% !important;}

#filterPlansView .popFilterPlans{left: 50% !important;top: -50px !important;}

.ulAccordFilter .planInfoTip .SumAssuredOuter .planTipCont::before{left: 68% !important; }

/* .planInfoTip{left:10px !important;} */

#choosePlansView .phCode .planInfoTip img{left: 14px !important;}

.popFilterPlans h3{margin-bottom:0px !important;}

#filterPlansView .customCheckbox label{font-size: 14px !important;}

#filterPlansView .radioBtns input[type="radio"]{cursor:pointer ;}

.ulAccordFilter .filtAdditCover > li .brdGrW .customCheckbox{width: 85% !important;margin-right:0px !important;}

.ulAccordFilter .filtAdditCover > li .brdGrW .planInfoTip{float: right !important;left:-25px !important;}

.ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter{margin-left: -218px !important;}

.ulAccordFilter .planInfoTip .planTipsOuter .planTipCont{padding-top: 5px !important;padding-bottom: 5px !important;}

.leftPanelFilt{padding-top: 15px !important;padding-bottom: 15px !important;}

.formButtons .btnBack{height: 36px !important;line-height: 36px !important;}

.iconFunnelFilt,#filterPlansView .custLarge9{width: 98% !important;}

.calSliderBlock h2{font-size: 26px !important;}

.titleBlock{height: 90px !important;}

#btnPersonalDtls{font-weight: normal !important;}

#filterPlansView .filterListing .filtRow .flCol1{height: 70px !important;}

.filterListing .mobBtnsVwBuy{padding-top: 10px !important;}

.filterListing .filtRow .flCol2 > ul{margin: 9px 4px 8px 4px !important;}

.filterListing .filtRow .flCol2 cite{display: inline-block !important;}

.filterListing .filtRow .flCol1 .icnName.icn6, .filterListing .filtRow .flCol1 .icnName.icn5{margin-left: 6px !important;}

.filterListing .filtRow .colBen,.filterListing .filtRow .colCov{display:block !important;}

.filterListing .filtRow .colBen ul > li > div{padding:5px !important;}

.column.small-centered{width:100% !important;}

.compareTable_mobile .plnOptions_mobile .hdrTlt .rhtIncTaxes{width: 46% !important;}

.customCheckbox input[type="checkbox"]{position: absolute !important;}

.enhanceCov_mob .enhanceAccord_mob .cancCarePlan{padding: 0px !important;margin-top: 10px !important;}

.customInput.small {margin-top: 10px !important;margin-bottom: 15px !important;}

.customInput.small .chosen-container{margin-right: 10px !important;}

.planSummaryContent col {width: 38% !important;}

.mobCmpPlan .planSummaryMobile table{table-layout: auto !important;}

.cpBtnPannel{padding: 20px 0 0 !important;}

.dvHelpDetails{min-height: auto !important;}

.dvGender .dvLabel{text-align: left !important;padding-left: 5% !important;}

.dv2Col li{padding: 0 0 0px 6px !important;}

.formPanel .customInput.phCode input.phNo{width: 89% !important;display: inline-block !important;}

.dvCigaret .dvTcell {padding-left: 1% !important;}

.dvGender .dvTcell{width: 36% !important;}

#disclaimer{display:block;} 

.dvTble .dvTcell.dvLabel{width: 50% !important;}

.enhanceCov_mob table.enhMob tr.bgPink td .btnWhite{margin-top: 15px !important;}

.viewCoverDetails{width: 80% !important;left: 38% !important;}

.mobBrochure{margin: 12px 0px !important;}

.dvHelpDetails .actionPane{padding: 10px 0 15px !important;}

.dvHelpDetails .bgWhite{margin-bottom: 0px !important; }

.formButtons .redBtn , #filterPlansView .formButtons .redBtn ,.filterListing .mobBtnsVwBuy .redSmlBtn {
	color: #fff;
	background: #1d86ff;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 6px 20px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
	height: auto;
	line-height: 1.42857143 !important;
	text-decoration: none;
    font-weight: normal;
	cursor:pointer;
}

.formButtons .redBtn :hover , #filterPlansView .formButtons .redBtn:hover ,.filterListing .mobBtnsVwBuy .redSmlBtn:hover {
	background-color: #286090;
    border-color: #204d74;
    border: none;
    border-radius: 3px;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: normal;
}




.btnCancerCarePlanBack , .formButtons .btnBack , .filterListing .mobBtnsVwBuy .lnkBenf {
    border: 1px solid #1d86ff;
    color: #1d86ff;
    font-size: 16px;
    padding: 6px 20px;
    line-height: 1.42857143 !important;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;	
    text-decoration: none;
    font-weight: normal;
}

.formButtons .btnBack:hover , .filterListing .mobBtnsVwBuy .lnkBenf:hover, .btnCancerCarePlanBack:hover{
	background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 20px;
    line-height: 1.42857143 !important;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: normal;
}

.ui-slider-range,.dvPopupModal .titlePopup,.popBuildDetails h3,.planSummaryMobile.active .titEn,.enhanceCov_mob.active .titEn, .popFilterPlans h3 , .addPercentage, .saCriticalCover, .cpCriticalCover, .cpMIRider, .priceUpDown, .fpExtLifeRider, .ciCriticalCover , #filterPlansView .filterListing .filtRow .flCol1{
	background: #234168 !important;
}

.iconFunnelFilt{
	background: url(../images/icons-build-hlv.png) 4px -2480px no-repeat #234168 !important; 
}

.mobBtnsVwBuy .lnkBenf , .mobBtnsVwBuy .lnkBenf:hover {
	    padding: 6px 38px !important;
}

.formButtons .btnGrayProceed span {
    color: white !important;
    cursor: pointer !important;
}

.formButtons .btnArrowDown span, .formButtons .redBtn span{padding:0px !important;}

.addPercentage .saIconMinus , .addPercentage .saIconPlus {
	height: 28px !important;
    width: 28px !important;
}

#filterPlansView .columnWrapper.clearfix.bdrB.dvFilterPlans {
 margin-top: 10px;
}

#filterPlansView .ulAccordFilter > li{
padding:8px 14px 10px;	
}

.filtDtlsContent ul.filtAdditCover li .optAddCover .filtDtlsContent_AddCover .dvTble , .filtPopCnt .dvTble{
	background:none !important;
}

#filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont::after, #filterPlansView .ulAccordFilter .filtAdditCover .planInfoTip .planTipsOuter .planTipCont::before{
	left: 80%;
}

.ulAccordFilter .planInfoTip .planTipsOuter .planTipCont{
	left:25px;
}

.ulAccordFilter .planInfoTip .SumAssuredOuter .planTipCont::after{
	left: 68%;
}

.filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont::after, .filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont::before{
	left: 23%;
}

.filterListing .filtRow .flCol2 .planInfoTip .planTipsOuter .planTipCont{
	left:20%;
}

#filterPlansView .columnWrapper.clearfix.bdrB.dvFilterPlans{
	padding-left:2%;
}

.formButtons .btnBack span{
	color:#1d86ff ;
}
.cpMIRider .disablityIconPlus, .addPercentage .cpsumAssuredPlus, .addPercentage .miIconPlus, .addPercentage .saIconPlus, .addPercentage .lpmiIconPlus, .addPercentage .yrsPlus, .cpMIRider .cpsumAssuredPlus, .cpMIRider .miIconPlus, .cpMIRider .saIconPlus, .cpMIRider .yrsPlus, .priceUpDown .cpsumAssuredPlus, .priceUpDown .miIconPlus, .priceUpDown .saIconPlus, .priceUpDown .yrsPlus, .biCriticalCover .biIconPlus, .ciCriticalCover .ciIconPlus{
	background-position: 0px -676px;
}

.cpMIRider .disablityIconPlus, .cpMIRider .disablityIconMinus, .addPercentage .cpIconMinus, .addPercentage .cpIconPlus, .addPercentage .cpsumAssuredMinus, .addPercentage .cpsumAssuredPlus, .addPercentage .miIconMinus, .addPercentage .miIconPlus, .addPercentage .saIconMinus, .addPercentage .lpmiIconMinus, .addPercentage .saIconPlus, .addPercentage .lpmiIconPlus, .addPercentage .yrsMinus, .addPercentage .yrsPlus, .cpCriticalCover .cpIconMinus, .cpCriticalCover .cpIconPlus, .cpCriticalCover .cpsumAssuredMinus, .cpCriticalCover .cpsumAssuredPlus, .cpCriticalCover .miIconMinus, .cpCriticalCover .miIconPlus, .cpCriticalCover .saIconMinus, .cpCriticalCover .saIconPlus, .cpCriticalCover .yrsMinus, .cpCriticalCover .yrsPlus, .cpMIRider .cpIconMinus, .cpMIRider .cpIconPlus, .cpMIRider .cpsumAssuredMinus, .cpMIRider .cpsumAssuredPlus, .cpMIRider .miIconMinus, .cpMIRider .miIconPlus, .cpMIRider .saIconMinus, .cpMIRider .saIconPlus, .cpMIRider .yrsMinus, .cpMIRider .yrsPlus, .priceUpDown .cpIconMinus, .priceUpDown .cpIconPlus, .priceUpDown .cpsumAssuredMinus, .priceUpDown .cpsumAssuredPlus, .priceUpDown .miIconMinus, .priceUpDown .miIconPlus, .priceUpDown .saIconMinus, .priceUpDown .saIconPlus, .priceUpDown .yrsMinus, .priceUpDown .yrsPlus, .biCriticalCover .biIconMinus, .biCriticalCover .biIconPlus, .ciCriticalCover .ciIconMinus, .ciCriticalCover .ciIconPlus{
	width:25px;
}

.preferredMsg , .enhanceCov_mob table.enhMob tr td , .cancerCarePlans table tr.bgPink td .dvBg{
	background:#1976d2;
}

.preferredMsg::after{
	border-top:11px solid #1976d2;
}

.btnBlue.edit{
	text-decoration:none;
}

.formButtons .btnBack, .formButtons .btnCancerCarePlanBack{
	border:1px solid #1d86ff;
	height:40px;
}

.formButtons .btnCancerCarePlanBack span{
	padding:0px;
	color:#1d86ff;
}
.formButtons .btnCancerCarePlanBack span:after {
		background:none;
}

/* Custom CSS Changes for C2p3D -end */